<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <targets xsi:type="AsyncWrapper" async="true">
    <!--保存至文件-->
    <target name="log_file" xsi:type="File" encoding="UTF-8"
                    fileName="${basedir}/Logs/Default/${shortdate}.txt"
                    layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>
  <rules>
    <logger name="DefaultLog" minlevel="Debug" writeTo="log_file" />
  </rules>
</nlog>